DB_CONNECTION=postgres://USER:PASSWORD@localhost:5432/DB

PORT=3000
JWT_SECRET=your_secret
ORIGIN=http://localhost:FE

# SMTP-Server für Google Mail (default) (SMTP: simple mail transfer protocol)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# Zugangsdaten zur Absenderadresse (hier musst du deine eigene Google-Mail-Adresse eintragen)
SMTP_USER=meineGoogleEmailadresse@dci-student.org
#hierfür musst du ein App-Passwort generieren: https://myaccount.google.com/apppasswords - wird vllt bei freenet ähnlich sein...hoffentlich 
SMTP_PASS=DEIN_APP_PASSWORT

# Hierhin werden Kontaktanfragen geschickt
CONTACT_EMAIL=meineGoogleEmailadresse@dci-student.org

MISTRAL_API_KEY=lustigerSchlüsselausdemBookchat