@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

body {
  @apply text-black bg-white;
}

section {
  @apply space-y-20;
}

h1 {
  @apply text-5xl font-light sm:text-5xl md:text-7xl lg:text-9xl;
}

h2 {
  @apply text-4xl font-light sm:text-4xl md:text-6xl lg:text-8xl text-neutral-500 uppercase mb-6;
}

p {
  @apply tracking-widest leading-loose;
}
