@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:where(
  a,
  button,
  input[type="button"],
  input[type="checkbox"],
  input[type="file"],
  input[type="image"],
  input[type="radio"],
  input[type="reset"],
  input[type="submit"],
  select,
  summary,
  [onclick],
  [role="button"]
) {
  cursor: pointer;
}

:where(button:disabled) {
  cursor: not-allowed;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}
